# Environement set-up

In [5]:
# Import libraries
import numpy as np
import sklearn
import pandas as pd
from pandas.plotting import scatter_matrix
import xgboost as xgb
from IPython.display import display
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.linear_model.stochastic_gradient import SGDClassifier
%matplotlib inline

In [6]:
# Import data files
data_train     = pd.read_csv('train.csv',index_col=0)
data_stats     = pd.read_csv('stats.csv',index_col=0)
data_test      = pd.read_csv('test.csv')
data_tour      = pd.read_csv('tour.csv')
data_players   = pd.read_csv('players.csv')
data_playerate = pd.read_csv('player_rates.csv',index_col=0)

In [8]:
# Import test file
data_test      = pd.read_csv('test.csv')

# Data discovery

In [10]:
data_train.head()

   ID1_G  ID2_G  ID_T_G  ID_R_G         RESULT_G               DATE_G
0  17613  18854    8887       4  7-6(8) 3-6 10-7  2012-01-31 00:00:00
1  25192  25191    8888       4          6-3 6-2  2012-01-31 00:00:00
2    918  10828    8957       4          6-1 6-2  2012-01-31 00:00:00
3   3316   2379    8957       4       6-4 7-6(5)  2012-01-31 00:00:00
4   7869   6277    8957       4          6-4 6-4  2012-01-31 00:00:00

Data train is the table containing examples to train the model, it could be modified to add new features to get better result. That what I will discover in the next line of code :D

ID1_G = player1 index (winner)</br>
ID2_G = player2 index (loser)</br>
ID_T_G = tournement index </br>
ID_R_G = round </br>
RESULT_G = match_result</br>
DATE_G = match date